.resize {
    width: auto;
    height: auto;
    max-width: 35em;
}


.offset-height {
    offset-position: bottom;
}

@media screen and (min-width: 800px) {
    .justify-lg {
        justify-content: space-evenly;
    }
}